/*
注:下面样式都是抄仿淘宝中的detail的样式,没有注明功能的基本上都不知其意
*/

.text-black{ color:#212121;}
.text-danger{ color:#ff4400;}
.thumbnail{ margin-bottom:0; padding:8px 0;}

/*删除线*/
.tb-text-del{ text-decoration:line-through;}
/*竖线*/
.tb-line{border-right:1px solid #d1d1d1;}
/*去除padding*/
.tb-nopadding{ padding-left:0; padding-right:0;}

.x-cards{ padding-top:0;}
.panel.panel-default{ margin-bottom:10px;}
.row{ margin:0;}
h4{ margin-top:0;}

.tb-img{ width:100%; height:251px;}

/*顶部titlebar**********************************************/
.tb-trans .x-panel-top { z-index : 100; }               /*z-index属性可以设置元素的层叠顺序,即,在顶层还是在底层...*/
.tb-trans .x-panel-top .x-titlebar{ background:none;}
.tb-trans .x-panel-content{ top:0 !important;}          /*top属性可以设置元素在距离父元素上边距的什么位置上*/
.tb-trans.x-panel .no-iosstatusbar  >.x-panel-content{
	top:-20px!important;
}

.tb-box .tb-backBtn, .tb-box .tb-cartBtn, .tb-box .tb-moreBtn{ width:40px; height:40px; border-radius:65px; color:#fff; background-color:rgba(0,0,0,0.4);}
.tb-cartBtn{ margin-top:-7px;}

.x-popOver-overlay{ background-color:#000;}